
6 - Databases and SQL for Data Science with Python/Final Project/Data/Census_Data.csv
6 - Databases and SQL for Data Science with Python/Final Project/Data/Chicago_Public_Schools.csv
6 - Databases and SQL for Data Science with Python/Final Project/Data/Crimes_-_2001_to_Present.csv
